body {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRoMxzh4NObxd-m-A5YPdwUTo5sX7WYGshU3A&s')
}

p.p1 {
	color: black;
	background-color: turquoise;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
}

p.p2 {
  color: black;
  background-color: yellow;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
}

p.p3 {
  color: black;
  background-color: lightgreen;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
}